# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
*.csproj.user
packages/
*.nupkg
.vs/
*.DotSettings.user

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# IDE
.idea/
*.sln.iml
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# dotnet
*.nupkg
project.assets.json
*.nuget.props
*.nuget.targets

# API logs
nohup.out
